@media only screen and (min-width: 640px) {

    #menuButton {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav li {
        border: none;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .list section {
        display: flex;
        flex-direction: column;
    }

    header img {
        width: 100px;
    }
}