@media screen and (min-width: 700px) {

    header {
        justify-content: center;
        gap: 1rem;
    }

    #menuButton {
        display: none;
    }


    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    nav a {
        padding: 1rem 2rem;
    }


    nav a:hover {
        background-color: #003366;
        color: white;
    }


    main {
        max-width: 1000px;
        margin: auto;
    }


    main section:first-of-type {
        display: grid;
        grid-template-columns: 1fr;
    }


    #courseCards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }


    .course {
        min-height: 150px;
    }


    footer {
        margin-top: 2rem;
    }

    /* Desktop Layout */

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .hero {
        grid-column: 1 / 3;
    }

    .events {
        grid-column: 1;
    }

    .weather {
        grid-column: 2;
    }

    .spotlights {
        grid-column: 1 / 3;
    }

    #spotlight-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .spotlight-card {
        margin: 0;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 1rem;
        text-align: center;
    }

    .spotlight-card img {
        width: 100px;
        height: auto;
        margin: 0 auto;
    }
}